
body {
    background-color: #a5bfd6;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #191e2b;
}

.navbar-brand {
    font-size: 22px;
}

h1 {
    color: #191e2b;
}

.espacio {
    max-width: 600px;
    background-color: #cfe7fa;
    border: none;
}

.espacio h2 {
    font-size: 24px;
}

.btn-primary {
    background-color: #98d5e2;
    border: none;
    color: black;
}

.btn-primary:hover {
    background-color: #72bdce;
    color: black;
}

.oculto {
    display: none;
}

#formulario {
    max-width: 600px;
}
